<style>
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ngx-extended-pdf-viewer {
    width: 100%;
    height: 100%;
  }
</style>

<main class="main">

  <ngx-extended-pdf-viewer useBrowserLocale="true" [showToolbar]="true" [showSidebarButton]="true"
    [showFindButton]="true" [showPagingButtons]="true" [showDrawEditor]="true" [showStampEditor]="true"
    [showTextEditor]="true" [showZoomButtons]="true" [showPresentationModeButton]="true" [showOpenFileButton]="true"
    [showPrintButton]="false" [showDownloadButton]="true" [showSecondaryToolbarButton]="true" [showRotateButton]="true"
    [showRotateCwButton]="true" [showRotateCcwButton]="false" [showHandToolButton]="false"
    [showScrollingButtons]="false" [showSpreadButton]="true" [showPropertiesButton]="true">

    ></ngx-extended-pdf-viewer>

</main>



<router-outlet />